---
import Layout from "../layouts/Layout.astro";
import Select from "../components/select/Select";
---

<Layout>
  <div class="py-12 px-5">
    <div class="max-w-7xl mx-auto">
      <Select client:load />
    </div>
  </div>
</Layout>
