<header
  id="mainHeader"
  class="sticky top-0 z-100 border-b bg-white border-slate-200 transition-transform duration-300 ease-in-out"
>
  <div
    id="headerContent"
    class="flex justify-between items-center p-4 relative z-20"
  >
    <div class="font-black text-xl tracking-tighter">
      <a href="/"> LOGO </a>
    </div>
    <nav class="md:block hidden">
      <a
        href="#"
        class="px-3 py-2 text-sm font-medium hover:bg-gray-100 rounded transition-colors"
      >
        SHOP ALL
      </a>
      <a
        href="#"
        class="px-3 py-2 text-sm font-medium hover:bg-gray-100 rounded transition-colors"
      >
        LOCATIONS
      </a>
      <a
        href="#"
        class="px-3 py-2 text-sm font-medium hover:bg-gray-100 rounded transition-colors"
      >
        REWARDS
      </a>
    </nav>
    <button
      id="menuBtn"
      class="group w-5 h-5 flex flex-col justify-center items-center relative cursor-pointer md:hidden"
      aria-label="Toggle Menu"
    >
      <span
        class="w-full h-0.5 bg-black rounded-full transition-all duration-300 absolute top-0.5 group-[.active]:top-1/2 group-[.active]:-translate-y-1/2 group-[.active]:rotate-45"
      ></span>

      <span
        class="w-full h-0.5 bg-black rounded-full transition-all duration-300 absolute top-1/2 -translate-y-1/2 group-[.active]:opacity-0"
      ></span>

      <span
        class="w-full h-0.5 bg-black rounded-full transition-all duration-300 absolute bottom-0.5 group-[.active]:bottom-1/2 group-[.active]:translate-y-1/2 group-[.active]:-rotate-45"
      ></span>
    </button>
  </div>

  <header-menu-drawer
    id="mobileNav"
    class="hidden absolute right-0 w-80 bg-white border-slate-200 border-t border-l transition-transform duration-300 translate-x-full"
    style="display: none;"
    role="dialog"
  >
    <div class="flex flex-col h-full">
      <div class="flex-1">
        <nav class="p-5 flex flex-col gap-6 font-bold text-lg">
          <a href="#" class="hover:text-red-600">SHOP ALL</a>
          <a href="#" class="hover:text-red-600">LOCATIONS</a>
          <a href="#" class="hover:text-red-600">REWARDS</a>
        </nav>
        <div
          id="content-carousel"
          class="flex items-center gap-4 overflow-x-auto px-5 scroll-smooth snap-x snap-mandatory [&::-webkit-scrollbar]:hidden"
          style="-webkit-overflow-scrolling: touch; scrollbar-width: none;"
        >
          <div
            class="h-60 w-40 shrink-0 snap-center bg-red-200 rounded-lg flex items-center justify-center"
          >
            test 1
          </div>
          <div
            class="h-60 w-40 shrink-0 snap-center bg-red-200 rounded-lg flex items-center justify-center"
          >
            test 2
          </div>
          <div
            class="h-60 w-40 shrink-0 snap-center bg-red-200 rounded-lg flex items-center justify-center"
          >
            test 3
          </div>
          <div
            class="h-60 w-40 shrink-0 snap-center bg-red-200 rounded-lg flex items-center justify-center"
          >
            test 4
          </div>
          <div
            class="h-60 w-40 shrink-0 snap-center bg-red-200 rounded-lg flex items-center justify-center"
          >
            test 5
          </div>
          <div
            class="h-60 w-40 shrink-0 snap-center bg-red-200 rounded-lg flex items-center justify-center"
          >
            test 6
          </div>
        </div>
      </div>
      <footer class="p-5 bg-slate-50 border-slate-200 border-t">
        footer of the menu
      </footer>
    </div>
  </header-menu-drawer>

  <script>
    import { initHeader } from "../scripts/header.ts";
    initHeader();
  </script>
</header>
