<div aria-live="polite" role="banner" class="">
  <div
    id="banner"
    class="bg-violet-400 py-2 px-5 text-white text-center text-xs font-bold"
  >
    FREE DELIVERY ON ALL ORDERS OVER $50!
  </div>
</div>
