---
import BannerComponent from "../components/BannerComponent.astro";
import GoogleTagManager from "../components/GoogleTagManager.astro";
import GTMNoScript from "../components/GTMNoScript.astro";
import Header2 from "../components/Header2.astro";
import SimpleBanner from "../components/SimpleBanner.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <GoogleTagManager />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MILFSHAKES Shopify-Style</title>
    <style>
      /* Ensure the site can scroll, but the menu tracks it */
      html,
      body {
        margin: 0;
        padding: 0;
      }

      /* Toggle icon animation */
      #menuBtn {
        transition: all 0.3s ease;
      }
      #menuBtn.is-active {
        transform: rotate(90deg);
        color: #dc2626;
      }

      /* Mimic Shopify's custom element wrapper */
      header-menu-drawer {
        display: contents; /* */
      }
    </style>
  </head>
  <body class="bg-white text-gray-900 flex flex-col min-h-screen">
    <GTMNoScript />
    <!-- <BannerComponent /> -->
    <SimpleBanner />
    <Header2 />
    <main class="grow">
      <slot />
    </main>
    <footer class="p-3 bg-amber-400">this is the footer</footer>
  </body>
</html>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("scrolled");
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.1 },
  ); // Trigger when 10% is visible

  document.querySelectorAll("[data-animated]").forEach((el) => {
    observer.observe(el);
  });
</script>
